@using SmallPost.Web.Areas.Blog.ViewModels

@model BlogsViewModel

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mb-4 mt-5">
	<div class="row w-100">
		@foreach (var item in Model.BlogsPagination)
		{
			<a asp-action="Details" asp-route-id="@item.Id" class="text-dark text-decoration-none">
				<div class="col-md-10 mx-auto py-2">
					<div class="">
						<div class="card-body">
							<div class="text-decoration">
								<h4 class="card-title custom-title-text">@item.Title</h4>
								<div class="card-text text-truncate custom-body-text">@item.Body</div>
							</div>
							<small><i>Posted by @item.Author on @item.PubDate.ToString("MMMM") - @item.PubDate.Day</i></small>
							<hr />
						</div>
					</div>
				</div>
			</a>
		}
	</div>
</div>

<div>
	<a asp-action="Index"
	   asp-route-pageIndex="@(Model.BlogsPagination.PageIndex - 1)"
	   class="btn btn-outline-dark @Model.PrevPageDisable">
		Previous
	</a>
	<a asp-action="Index"
	   asp-route-pageIndex="@(Model.BlogsPagination.PageIndex + 1)"
	   class="btn btn-outline-dark @Model.NextPageDisable">
		Next
	</a>
</div>